---
import SectionWithTitle from './SectionWithTitle.astro';
import Tag from './Tag.astro';
interface Props {
  title: string;
  skills: string[];
}

const { skills, title } = Astro.props;
---

<SectionWithTitle title={title}>
  <div class='flex flex-wrap gap-2'>
    {skills.map((skill) => <Tag>{skill}</Tag>)}
  </div>
</SectionWithTitle>
