---
import Hamburger from '../icons/Hamburger';
import Filter from '../icons/Filter';
import People from '../icons/People';
import LikeFilled from '../icons/LikeFilled';
import Project from '../icons/Project';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap'
      rel='stylesheet'
    />
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='h-full'>
    <div class='max-w-md mx-auto'>
      <div
        class='w-full flex bg-white justify-between p-4 fixed top-0 left-0 right-0 z-10'
      >
        <button class='p-1'>
          <Hamburger className='text-neutral-400' width={28} />
        </button>
        <span class='font-[Nunito] font-semibold text-primary text-[24px]'
          >buible</span
        >
        <button class='p-1'>
          <Filter className='text-neutral-400' width={28} />
        </button>
      </div>
      <div
        class='flex-1 mx-2 rounded-xl overflow-x-hidden overflow-y-scroll ct-scroll my-[68px]'
      >
        <slot />
      </div>
      <div
        class='w-full flex bg-white justify-between p-4 fixed bottom-0 left-0 right-0 z-10'
      >
        <button class='p-1'>
          <People className='text-neutral-300' width={28} />
        </button>
        <button class='p-1'>
          <Project className='text-neutral-300' width={28} />
        </button>
        <button class='p-1'>
          <LikeFilled className='text-neutral-300' width={28} />
        </button>
      </div>
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Circular';
    font-style: black;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/circular20cyr_black.otf') format('opentype');
  }
  @font-face {
    font-family: 'Circular';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/circular20cyr_bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/circular20cyr_book.otf') format('opentype');
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    background-size: 224px;
    scroll-behavior: smooth;
  }

  .ct-scroll::-webkit-scrollbar {
    display: none;
  }
  * {
    font-family: Circular, sans-serif;
  }
</style>
